.rodape {
    align-items: center;
    background-color: #6278f7;
    background-image: url(/public/img/fundo.png);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    width: 100%;
  }
  
  .rodape .logos {
    display: flex;
    gap: 32px;
  }
  
  .rodape p {
    color: #ffff;
  }
.rodape div.logos img:hover{
    background-color:  #3b5998;
    border-radius: 50%;
}